<!-- Add this in your HTML body -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<a routerLink="/notification">Go to Notification Page</a>
<div class="notification-container">
  <div class="notification">
    <div class="notification-header">
      <span class="notification-title">New Notification</span>
      <button class="notification-close">&times;</button>
    </div>
    <div class="notification-content">
      <p class="notification-message">You have a new message from the school administration</p>
    </div>
    <div class="notification-progress"></div>
  </div>
</div>
