<app-navbar></app-navbar>

<div class="container">
  <table>
    <thead>
    <tr>
      <th>Day/Time</th>
      <th>9:50 - 10:40</th>
      <th>10:40 - 11:30</th>
      <th>11:30 - 12:20</th>
      <th>12:20 - 1:10</th>
      <th>1:10 - 1:50</th>
      <th>1:50 - 2:40</th>
      <th>2:40 - 3:30</th>
      <th>3:30 - 4:20</th>
    </tr>
    </thead>
    <div *ngIf="!data">
      <h1 class="error-container">No data found</h1>
    </div>
    <tbody>
      <ng-container *ngFor="let day of Object.keys(data.elemList)">
      <tr>
        <td>{{ day}}</td>
        <td *ngFor="let subject of data.elemList[day];let i = index">
          <div class="subject-name">{{ subject.subject}}</div>
          <div class="subject-teacher">{{ subject.staffName }}</div>
          <div class="subject-room" *ngIf="i != 4">True</div>
          <div *ngIf="i == 4 && day == 'WEDNESDAY'">Lunch Break</div>
        </td>
      </ng-container>
    <tr>

    </tr>
    </tbody>
  </table>

<!--  <div class="actions">-->
<!--    <button class="print-btn">Print</button>-->
<!--    <button class="edit-btn">Edit</button>-->
<!--  </div>-->
</div>
