<app-navbar></app-navbar>

<div class="container">
  <table>
    <thead>
    <tr>
      <th>Day</th>
      <th>9:50:AM – 10:40:AM</th>
      <th>10:40:AM – 11:30:AM</th>
      <th>11:30:AM – 12:20:PM</th>
      <th>12:20:PM – 01:10:PM</th>
      <th>01:10:PM – 01:50:PM</th>
      <th>01:50:PM – 02:40:PM</th>
      <th>02:40:PM – 03:30:PM</th>
      <th>03:30:PM – 04:20:PM</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Monday</td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
      <td class="highlight">LUNCH</td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
      <td>Sub - Maths<br><span class="teacher">| Vinoth</span></td>
    </tr>
    </tbody>
  </table>
  <div class="actions">
    <button class="print-btn">Print</button>
    <button class="edit-btn">Edit</button>
  </div>
</div>
